<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoteTaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E44AB0F21C20F96F00A0AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44AB1091C20F97000A0AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44AB1141C20F97000A0AAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
